<html>
{% load static %}
<head>
    <title>Level 2</title>
    <style>
        div {}

        #board tr td {
            width: 30px;
            height: 30px;
            border: 1px;
        }

        #main {
            float: left;
            background-color: black;

            margin-left: 20px;

        }

        #preBoard tr td {
            width: 30px;
            height: 30px;
            background-color: black;
        }

        .button {
            background-color: #FFCC00;
            width: 50px;
            height: 25px;
            border-radius: 200px;
            margin-left: 15px;
        }

        #begin {
            background-color: #FFCC00;
            width: 100px;
            height: 50px;
            border-radius: 200px;
            margin-top: 20px;
            margin-left: 20px;
        }
    </style>
    <meta charset="UTF-8" />
</head>
<script src="{% static 'myapp/js/level22.js' %}"></script>

<body>
    <Input type="button" value="难" id="hard" class="button" onclick="hard();" />
    <Input type="button" value="中" id="middle" class="button" onclick="middle();" />
    <Input type="button" value="易" id="easy" class="button" onclick="easy();" />
    Score: <span id="score"> 0</span> <br><br>
    <div id="main">
        <table id="board" cellspacing=0 cellpadding=0 border=1 style="border-collapse:collapse;">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div style="float: left; width: 5px;">
    </div>
    <div id="pre">
        <table id="preBoard" cellspacing=0 cellpadding=0 border=1 style="border-collapse:collapse;">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <Input type="button" value="挑战开始" id="begin" onclick="begin(this);" />
  <form action="{% url 'compare_flag' %}" method="post" id="post_form" style="display: none">
        {% csrf_token %}
    </form>
    <p> 俄罗斯方块！<br> 方向键左右移动，<br>下键加速下落，<br>上键旋转方块！ <br> 目标是1024分！ </p>
    <span id="print"> </span>
    <span id="gogogo"> </span>
</body>

</html>