{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Level 1</title>

  <link href="{% static 'myapp/css/main.css' %}" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" href="{% static 'myapp/img/apple-touch-icon.png'%}">
  <link rel="apple-touch-startup-image" href="{% static 'myapp/img/apple-touch-startup-image-640x1096.png'%}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
  <link rel="apple-touch-startup-image" href="{% static 'myapp/img/apple-touch-startup-image-640x920.png'%}"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="{% static 'myapp/js/prevent.js' %}"></script>
</head>
<body>
{% csrf_token %}
  <div class="container">
    <div class="heading">
      <h1 class="title">2048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>

    </div>

    <p class="game-explanation">
      <strong class="important">怎样玩:</strong> 使用你的 <strong>方向键</strong> 去移动格子。当两个格子的数字相同时，它们会 <strong>合并成一个新的格子！</strong>
    </p>
    <hr>
    <p>
    Created by <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli.</a> Based on <a href="https://itunes.apple.com/us/app/1024!/id823499224" target="_blank">1024 by Veewo Studio</a> and conceptually similar to <a href="http://asherv.com/threes/" target="_blank">Threes by Asher Vollmer.</a>
    </p>
  </div>
    <form action="{% url 'compare_flag' %}" method="post" id="post_form" style="display: none">
        {% csrf_token %}
    </form>

  <script src="{% static 'myapp/js/bind_polyfill.js'%}"></script>
  <script src="{% static 'myapp/js/classlist_polyfill.js'%}"></script>
  <script src="{% static 'myapp/js/animframe_polyfill.js'%}"></script>
  <script src="{% static 'myapp/js/keyboard_input_manager.js'%}"></script>
  <script src="{% static 'myapp/js/level11.js'%}"></script>
  <script src="{% static 'myapp/js/grid.js'%}"></script>
  <script src="{% static 'myapp/js/tile.js'%}"></script>
  <script src="{% static 'myapp/js/local_storage_manager.js'%}"></script>
  <script src="{% static 'myapp/js/game_manager.js'%}"></script>
  <script src="{% static 'myapp/js/application.js'%}"></script>
</body>
</html>
{% if messages %}
<script>
    {% for msg in messages %}
         alert('{{msg.message}}')
    {% endfor %}
</script>
{% endif %}