<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>Level 5 - SCNU-SoCoding 2020-1024</title>
<script>
  var isFinished = false;
  var sum = 0;
  var btn1 = rand();
  var btn2 = rand();
  var btn3 = rand();
  var brn4 = rand();
  document.getElementById("#btn1").innerHTML = "+"+btn1;
  document.getElementById("#btn2").innerHTML = "+"+btn2;
  document.getElementById("#btn3").innerHTML = "+"+btn3;
  document.getElementById("#btn4").innerHTML = "+"+btn4;

  document.getElementById("#progress").style ="width: 70%;"

  function rand()
  {
    return Math.round(Math.random()) * 100;
  }

  function clickBtn1()
  {
    sum += btn1;
    var next = rand();
    document.getElementById("btn1").innerHTML = "+"+next;
    btn1 = next;
  }
  function clickBtn2()
  {
    sum += btn1;
    var next = rand();
    document.getElementById("btn2").innerHTML = "+"+next;
    btn2 = next;
  }
  function clickBtn3()
  {
    sum += btn1;
    var next = rand();
    document.getElementById("btn3").innerHTML = "+"+next;
    btn3 = next;
  }
  function clickBtn4()
  {
    sum += btn1;
    var next = rand();
    document.getElementById("btn4").innerHTML = "+"+next;
    btn4 = next;
  }
</script>
<!--这里引用了一个[框架](https://www.mdui.org/)-->
<link
  rel="stylesheet"
  href="../static/myapp/css/mdui.min.css"
/>
</head>

<body class="mdui-theme-primary-blue-grey mdui-appbar-with-toolbar mdui-drawer-body-left">
  <header class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide">
    <div class="mdui-toolbar mdui-color-theme">
      <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-drawer="{target:'#main-drawer', swipe:true}"><i class="mdui-icon material-icons">menu</i></a>
      <span class="mdui-typo-title">Level 5  - 1024点</span>
      <div class="mdui-toolbar-spacer"></div>
      <a href='#' class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
    </div>
  </header>
  <nav class="mdui-drawer" id="main-drawer">
    <ul class="mdui-list" style="max-width: 360px;">
      <a href="/myapp/templates/level4.html">
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">arrow_back</i>
          <div class="mdui-list-item-content">跳转至上一题</div>
        </li>
      </a>
      <a href="/myapp/templates/level6.html">
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">arrow_forward</i>
          <div class="mdui-list-item-content">跳转至下一题</div>
        </li>
      </a>
      <a href="#">
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">refresh</i>
          <div class="mdui-list-item-content">重置游戏</div>
        </li>
      </a>
    </ul>
  </nav>


  <div class="mdui-container">
    <div class="mdui-row">
      <div class="mdui-col-xs-12 mdui-col-md-7">
        <div class="mdui-typo">
          <h1 class="mdui-text-color-theme">欢迎</h1>
          <p>经过一路上过关斩将，你已经来到了游戏的第 5 关。恭喜你！</br>
            与先前的阴间题目不同的是，想要通过本关非常简单——你不需要过硬的技术，只需要非常的运气。</p>
          <h1 class="mdui-text-color-theme">你要做</h1>   
          <p>看到下面的进度指示器和按钮了吗？每个按钮都代表着一个随机数，你需要通过点击按钮，令我们的进度指示器<strong>归满</strong>；</p>
          <h1 class="mdui-text-color-theme">注意</h1> 
          <p>点击按钮后，进度条增加相应数值，该按钮对应数值随机刷新，其余按钮数值保持不变。</br>
            必须正好归满，否则游戏瞬间爆炸。</br>
            游戏本身允许无限次重试。</p>
          <div class="mdui-divider-inset"></div></br>
          <p>规则了解清楚了吗？那么，让我们开始吧！</p>
        </div>
      </div>
      <div class="mdui-col-xs-12 mdui-col-md-5">
        <div class="mdui-card mdui-m-y-5">
          <div class="mdui-card-header">
            <div class="mdui-card-header-title">指示器</div>
            <div class="mdui-card-header-subtitle">你需要达到的值为 1024,当前值为</div>
          </div>
          <div class="mdui-card-content">
            <div class="mdui-progress">
              <div id="progress" class="mdui-progress-determinate" style="width: 70%;"></div>
            </div>
          </div>
          <div class="mdui-card-actions">
            <button class="mdui-btn mdui-ripple" id="btn1" onclick="clickBtn1()">+0</button>
            <button class="mdui-btn mdui-ripple" id="btn2" onclick="clickBtn2()">+0</button>
            <button class="mdui-btn mdui-ripple" id="btn3" onclick="clickBtn3()">+0</button>
            <button class="mdui-btn mdui-ripple" id="btn4" onclick="clickBtn4()">+0</button>
          </div>
        </div>
        <div id="finsihed"></div>
      </div>
    </div>
  </div>

  <footer></footer>

  <script
  src="../static/myapp/js/mdui.min.js"
></script>
</body>
</html>
