 {% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <style type="text/css">
        #father {
            position: relative;
            margin: 0px auto;
            border: dotted;
        }

        #father #gc {
            position: absolute;
            opacity: 0.8;
            z-index: 2;
        }

        #father #gc2 {
            position: absolute;
            z-index: 1;
        }

        #fpsmm {
            position: fixed;
            top: 0px;
            right: 20px;
            color: #545f751a;
        }
    </style>
</head>
<title>Level 7</title>

<body ondragstart="return false" oncontextmenu="return false" ondragstart="return false" onselect="return false"
    onselect="document.selection.empty()" onpaste="return false" oncopy="return false" oncut="return false">
    <div id="father">
        <canvas id="gc"></canvas>
        <canvas id="gc2"></canvas>
    </div>
    <div style="text-align: center">
        <h2>输入表达式</h2>
        <textarea id="ed" oninput="inChange()" rows="1" cols="50"
            style="font-size:20px;font-weight:bold;text-align:center"></textarea>
        <br>
        <br>
        <button id="bu" onclick="buOnClick()" style="width: 100px; height: 40px; border: 1px solid red;"
            disabled="">下一关</button>
        <form action="{% url 'compare_flag' %}" method="post" id="post_form">
            {% csrf_token %}
            <!-- Today is a nice day! -->
            <input type="text" name="04ad5938eaf0efb6">
            <input type="submit" value="Submit" />
        </form>

    </div>
    <div style="position:fixed; bottom:0px; right:20px">
        <h3 id="outm"></h3>
        <h3 id="mes"></h3>
    </div>
    <h3 id="fpsmm">HK-SHAO</h3>
</body>

<script src="{% static 'myapp/js/math.min.js'%}"></script>
<script src="{% static 'myapp/js/level77.js' %}"></script>

</html>