<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Win!</title>
    {% load static %}
    <link href="{%static 'myapp/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="containerDiv">
        <div class="titleDiv"></div>
        <div class="problemDiv">
            <span class="font1" style="font-size:40px">
                <p>恭喜你通过所有关卡！</p>
                <p>1024 程序猿节快乐！</p>
                <img src="{%static 'myapp/img/end.jpg' %}" style="height:250px" />
                <p>完结撒花！哔哩哔哩-(゜-゜)つロ乾杯~</p>
            </span>
        </div>
    </div>
</body>

</html>
